@layout LoginLayout
@page "/"



<div>
    
    <MudGrid Spacing="0" Class="px-7">
        <MudItem xs="12">
        </MudItem>
        <MudItem xs="12" Class="mt-5" Style="font-size:18px">
            <span>
                Iniciar sesion
            </span>
        </MudItem>
        <MudItem xs="12" Class="mt-4">
            <MudTextField @bind-Value="login.Email"
                          InputType="InputType.Text"
                          Required="true"
                          RequiredError="El usuario es requerido"
                          Label="Usuario"
                          Variant="Variant.Outlined"
                          Margin="Margin.Dense">
                          Validation=""
            </MudTextField>

        </MudItem>
        <MudItem xs="12" Class="mt-4">
            <MudTextField @bind-Value="login.Password"
                          Immediate="true"
                          Adornment="Adornment.End" 
                          InputType="@PasswordInput"
                          AdornmentIcon="@PasswordInputIcon" 
                          OnAdornmentClick="ButtonTestclick" 
                          AdornmentAriaLabel="Show Password"
                          Required="true"
                          RequiredError="La contraseña es requerida"
                          Label="Contraseña"
                          Variant="Variant.Outlined"
                          Margin="Margin.Dense"
                          @onkeydown="HandleTicketSearch">
            </MudTextField>
        </MudItem>
        <MudItem xs="12" Class="mt-10">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" FullWidth="true" @onclick="IniciarSesion">Login</MudButton>
        </MudItem>
    </MudGrid>
</div>
 