::deep .logo {
    height: 20px;
    top: -3px;
    position: relative;
}

::deep .custom-width-appbar {
    padding: 8px; /* Adjust this value to your desired width */
    margin: 0 auto; /* Center the app bar */
}

.title {
    font-size: 18px;
    margin-left: 10px;
    margin-right: 50px;
}
