.divisor {
    width: 100%;
}


.sis-input {
    border: 1px solid;
    border-color: #858585 !important;
    border-radius: 4px;
    padding: 2px;
    box-sizing: border-box;
    outline-color: var(--mud-palette-primary) !important;
}


::deep .button-dense > span {
    margin-bottom: -2px;
    font-size: 12px;
}

::deep .custom-border {
    border: 1px solid #858585;
}

.button-class {
    font-size: 13px;
    min-width: 70px;
}

::deep .header-grid {
    background-color: var(--mud-palette-primary) !important;
    color: #fff !important;
    font-weight: bold !important;
}
